<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yryz.smart.jdbc.demo.dao.persistence.OrderItemDao">

    <update id="createIfNotExistsTable">
        CREATE TABLE IF NOT EXISTS t_order_item (id BIGINT unsigned AUTO_INCREMENT, kid BIGINT unsigned,
        order_kid BIGINT unsigned, create_user_id varchar(20) NOT NULL, PRIMARY KEY (id));
    </update>

    <update id="truncateTable">
        TRUNCATE TABLE t_order_item;
    </update>

    <update id="dropTable">
        DROP TABLE IF EXISTS t_order_item;
    </update>

    <insert id="insert">
        INSERT INTO t_order_item (
          kid, order_kid, create_user_id
        )
        VALUES (
        #{kid,jdbcType=BIGINT},
        #{orderKid,jdbcType=BIGINT},
        #{createUserId,jdbcType=VARCHAR}
        )
    </insert>

    <delete id="delete">
        DELETE FROM t_order_item WHERE order_kid = #{orderKid,jdbcType=BIGINT}
    </delete>

    <select id="selectAll" resultType="com.yryz.smart.jdbc.demo.entity.OrderItem">
        SELECT
        i.*
        FROM
        t_order o, t_order_item i
        WHERE
        o.kid = i.order_kid
    </select>
</mapper>
